@model IEnumerable<FYPTLY.Models.Survey_has_Questions>

@{
    ViewBag.Title = "Index";
}

<h2>Survey Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.question_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey.survey_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.question_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survey.survey_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
