@model FYPTLY.Models.Medical_Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medical_Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointment.appointment_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.appointment_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.staff_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.staff_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Medical_Test_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
