@model IEnumerable<FYPTLY.Models.Medical_Test>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.appointment_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.staff_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.test_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.test_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.appointment_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.staff_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Medical_Test_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Medical_Test_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Medical_Test_id })
        </td>
    </tr>
}

</table>
